<!-- -------------------------------------------------------------------------------------
html común a todas las páginas. 
Puede contener elementos como la importación de estilos, etc.
------------------------------------------------------------------------------------- -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dulces detalles</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  
