<!-- -------------------------------------------------------------------------------------
Genera la barra de navegación con las categorías. 
En caso de estar en el dashboard, también generará un enlace para subir un nuevo producto.
------------------------------------------------------------------------------------- -->
<nav>
    <a href="/products">Inicio</a>
    <a href="/products/...">Cestas</a>
    <a href="/products/...">Cajas</a>
    <a href="/products/...">Conos</a>
    <a href="/products/...">Corazones</a>
</nav>
  