<!-- -------------------------------------------------------------------------------------
Genera la barra de navegación con las categorías. 
En caso de estar en el dashboard, también generará un enlace para subir un nuevo producto.
------------------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Nav Bar</h1>
</body>
</html>