<!-- -----------------------------------------------------------------------------
Genera el html de los productos. 
Recibe un array de productos y devuelve el html de las tarjetas de los productos.
------------------------------------------------------------------------------ -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div id="product-list"></div> 
  
</body>
</html>