<!-- --------------------------------------------------------
Página de inicio
-------------------------------------------------------- -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <p>Sign in or register to get started.</p>
        <div class="btn-container">
            <button class="btn" onclick="location.href='/login'">Login</button>
            <button class="btn" onclick="location.href='/register'">Register</button>
            <button class="btn" onclick="location.href='/dashboard'">Admin</button>
        </div>
    </div>
</body>
</html>