/* ------------------------------------
Hoja de estilos de nuestra aplicación
------------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, cadetblue, #a0bec0);
}

.container, .formContainer {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: cadetblue;
}

.btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: rgb(46, 135, 138);
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.input {
    height: 20px;
    font-size: 14px;
}

p {
    font-size: 18px;
    color:darkslategrey
}

.product-list {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}